#------------ Mongo variables --------------
MONGO_INITDB_USERNAME=
MONGO_INITDB_PASSWORD=
MONGO_INITDB_DATABASE=
MONGO_INITDB_PORT=
MONGO_INITDB_HOST=

#------------ Server variables --------------
SERVICE_PORT=
SALT_ROUNDS=

#------------ Jwt variables --------------
TOKEN_SECRET=
TOKEN_EXPIRATION_TIME=

#------------ MinIO variables --------------
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_BUCKET_NAME=